/* Style for Bollin Valley */

:root {
  --cecGreen: #206c49;
}

header {
  padding: 0 !important;
}

:not(header):not(footer) > div > a > span.link:hover,
.linkDiv:hover #bvpLogoFoot,
.linkDiv:hover #bvpLogo {
  border: solid 4px var(--cecGreen) !important;
}

footer li a:hover,
footer a p:hover,
.dropdown-item:hover,
.linkDiv:hover #bvpHead,
.linkDiv:hover #bvpFoot,
.nav-link:hover {
  border-bottom: solid 4px var(--cecGreen);
}

.nav-link.dropdown-toggle {
  border-bottom: none;
}

#bvpLogo,
#bvpLogoFoot {
  border: solid 4px rgb(0, 0, 0, 0) !important;
}

footer li a,
footer a p,
#bvpHead,
.nav-link,
.dropdown-item {
  border-bottom: solid 4px rgb(0, 0, 0, 0);
}

.navbar-toggler:focus,
.navbar-toggler {
  color: var(--cecGreen);
  border-color: var(--cecGreen);
}

a.btn:hover {
  background: white !important;
}

/* Focus state - WCAG 2.2 */
.dropdown-toggle:focus,
:not(.linkDiv) > a:focus,
div:focus,
a:focus > span,
button:focus {
  outline: 2px transparent solid;
  box-shadow: 0 0 0 2px #ffa100, 0 0 0 4px #396196, 0 0 4px 8px #ffa100;
  -webkit-transition: outline-color 0.2s ease-out;
  transition: outline-color 0.2s ease-out;
}

.navbar-expand-lg {
  border: none;
  padding: 0;
}

.hoverElem {
  opacity: 0.9;
}

footer,
footer a {
  background: #c8c8c8;
  color: black;
}

footer a {
  text-decoration: none !important;
}

.navbar {
  font-size: 1.3rem;
}

@media (max-width: 992px) {
  .navbar {
    border: none;
  }
}

@media (max-width: 768px) {
  #bvpHead,
  #bvpFoot {
    display: none !important;
  }
}

@media (min-width: 992px) {
  #navbarSupportedContent {
    justify-content: center;
  }
  .navbar-expand-lg {
    display: block !important;
  }
}

@media (min-width: 768px) {
  .hoverElem {
    position: absolute;
    margin-bottom: 2rem;
    bottom: 0%;
  }
}

/* Makes the dropdowns open on hover. */
.dropdown:active > .dropdown-menu,
.dropdown:hover > .dropdown-menu {
  display: block;
}

/* Making divs with links inside clickable */
.linkDiv {
  cursor: pointer;
  position: relative;
}

.link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
